PORT=

# Config database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Config database Auth
DB_HOST_AUTH=
DB_PORT_AUTH=
DB_USER_AUTH=
DB_PASSWORD_AUTH=
DB_NAME_AUTH=

#Config Sftp
SFTP_HOST=
SFTP_PORT=
SFTP_USER=
SFTP_PASSWORD=
SFTP_PATH_SOPORTES=

# Config FTP Solicitudes
FTP_HOST=
FTP_PORT=21
FTP_USER=
FTP_PASSWORD=
FTP_PATH_SOLICITUDES=Solicitudes

# Auth
HASH_SALT=
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_EXPIRES_RESET_PASSWORD=

# RoleApp
ROLE_APP=

# FrontEnd URL
FRONTEND_URL=

# Certificados
COORDINADOR_MOVILIDAD_NOMBRE=

# Mailjet
MAILJET_API_KEY= 
MAILJET_API_SECRET= 
MAILJET_MAIL_FROM= 
MAILJET_NAME_FROM= 
